# Analysis of Wells for Production of Oil and Gas

## Importing Dependencies

In [2]:
import pandas as pd
import numpy as np
from collections import defaultdict

#In order to Visualize the Data
import matplotlib.pyplot as plt
import seaborn as sns
#import plotly.express as px
%matplotlib inline

#For machine learning model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error,mean_absolute_error

In [3]:
pwd

'E:\\Drive\\OneDrive\\Desktop\\projects\\DataScienceLearning\\Lessons\\BlogPostProject'

In [6]:
# loading the well data 
df = pd.read_csv('./Data/unconv_MV.csv')

In [9]:
df.head()

   WellIndex    Por  LogPerm    AI  Brittle   TOC    VR   Production
0          1  15.91     1.67  3.06    14.05  1.36  1.85   177.381958
1          2  15.34     1.65  2.60    31.88  1.37  1.79  1479.767778
2          3  20.45     2.02  3.13    63.67  1.79  2.53  4421.221583
3          4  11.95     1.14  3.90    58.81  0.40  2.03  1488.317629
4          5  19.53     1.83  2.57    43.75  1.40  2.11  5261.094919

In [10]:
df.describe()

,WellIndex,Por,LogPerm,AI,Brittle,TOC,VR,Production
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,500.500000,14.950460,1.398880,2.982610,49.719480,1.003810,1.991170,2247.295809
std,288.819436,3.029634,0.405966,0.577629,15.077006,0.504978,0.308194,1464.256312
min,1.000000,5.400000,0.120000,0.960000,-10.500000,-0.260000,0.900000,2.713535
25%,250.750000,12.857500,1.130000,2.577500,39.722500,0.640000,1.810000,1191.369560
50%,500.500000,14.985000,1.390000,3.010000,49.680000,0.995000,2.000000,1976.487820
75%,750.250000,17.080000,1.680000,3.360000,59.170000,1.360000,2.172500,3023.594214
max,1000.000000,24.650000,2.580000,4.700000,93.470000,2.710000,2.900000,12568.644130